<p id="notice"><%= notice %></p>

<h1>Source</h1>

<p>
  <strong>Channel:</strong>
  <%= @source.channel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @source.address %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
