<p id="notice"><%= notice %></p>

<h1>Recipients</h1>

<%= link_to 'New Recipient', new_recipient_path %>
|
<%= link_to 'Home', '/' %>

<br><br>

<table>
  <thead>
    <tr class="table-row">
      <th>Id</th>
      <th>Channel</th>
      <th>Address</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <th><%= recipient.id %></th>
        <td class="textarea"><%= recipient.channel %></td>
        <td class="textarea"><%= recipient.address %></td>
        <td><%= link_to 'Show', recipient %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Notify', { controller: :notifications, action: :create, params: { notification: { id: recipient.id, notification_type: 'recipient' } } }, method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @recipients %>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
