<p id="notice"><%= notice %></p>

<h1>Recipient</h1>

<p>
  <strong>Id:</strong>
  <%= @recipient.id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @recipient.channel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
